
.frank {
    background-image:url("img/beafeitlersitting2.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
}

body  {
    background-color: #fcc7e5
}

.container {
    padding-top: 35px
}

.blink {
    margin-top: 45px
}

.blink {
    margin-left: 70px
}

.blink {
    margin-right: 70px
}

.blink {
    margin-bottom: 45px
}

.blink {
    border: 10px solid white
}

